/* Spinner animation keyframes */
@keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Spinner styling */
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey border */
    border-top-color: white; /* White top border */
    border-radius: 50%; /* Circular border */
    width: 2rem; /* Spinner size */
    height: 2rem; /* Spinner size */
    animation: spinner 1s linear infinite; /* Use the defined keyframes to spin */
  }
  